<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>github</id>
			<username>${GHusername}</username>
			<password>${GHtoken}</password>
		</server>
		<server>
			<id>github2</id>
			<username>${GHusername}</username>
			<password>${GHtoken}</password>
		</server>

		<server>
			<id>iaik</id>
			<configuration>
				<httpHeaders>
					<property>
						<name>Private-Token</name>
						<value>${IAIKtoken}</value>
					</property>
				</httpHeaders>
			</configuration>
		</server>
	</servers>
</settings>
